.property-card-wrap,
.properties-card {
  width: 100%;
  /* Make all property cards the same width */
  max-width: 400px;
  margin: 0 auto;
}

.property-item-link {
  display: block;
  height: 100%;

  &:hover {
    .property-card-top > img {
      transform: scale(1.05);
    }
  }
}

.property-card-top {
  width: 100%;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  /* Fixed aspect ratio */
  height: 0;
  padding-bottom: 75%; /* 4:3 aspect ratio */
}

.property-card-top > img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
  object-position: center;
  transition: all 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}

.property-card-top > .status-tag {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: 500;
  padding: 3px 12px;
  text-align: center;
  border-radius: 50px;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .properties-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 20px;
  }
}
